/* * {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 20px;
  background: #686de0; 
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
} 

 */

:root {
  --brown: #473d3a;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #e8e3df;
  padding: 0;
  margin: 0;
  min-height: 700px;
  padding-bottom: 10rem;
}

nav {
  color: var(--brown);
}

.nav-logo {
  height: 4rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
}

.home-cover {
  height: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  padding-top: 2rem;
}

.search-div {
  padding-top: 10rem;
}

/********************** Burger Menu ************************/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 /************************ Horitzontal Scroll **************************/

.horitzontal-scroll {
  padding: 1rem;
  padding-right: 2rem;
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 28px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hs > li {
  background-color: #ededed;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  min-height: 20rem;
  min-width: 12rem;
  color: var(--brown);
  padding: 0 1rem;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 1.7rem;
  margin: 0;
}

.card-hr {
  padding-top: 0;
  border: 1px solid var(--brown);
  width: 8rem;
}

.card-text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--brown);
}

.cards-img {
  height: 10rem;
  width: 14rem;
  padding: 0;
  margin: 0;
}

.card-btn {
  border-radius: 0;
  border: 2px var(--brown) solid;
  width: 8rem;
  margin-bottom: 1rem;
  color: var(--brown);
}

.meet-links {
  color: var(--brown);
}

/************************ Home Description Big Cards ***********************************/
.home-bookshelf {
  display: flex;
  margin-top: 3rem;
  height: 18rem;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.75);
  margin-bottom: 5rem;
}

.home-bk-left {
  width: 50%;
}

.description-img {
  height: 18rem;
}

.home-bk-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #ededed;
}

.home-right-title {
  font-size: 0.8rem;
  color: var(--brown);
  font-weight: 400;
}

.home-right-hr {
  width: 7rem;
  padding: 0;
  margin: 0;
  border: 1px solid var(--brown);
}

.home-right-p {
  font-size: 0.7rem;
  text-align: center;
  color: var(--brown);
}

.home-club-all {
  margin-bottom: 3rem;
}

.main-hr {
  width: 95%;
  border: 1px solid var(--brown);
}

.home-club {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18rem;
}

.home-club-left {
  width: 60%;
  color: var(--brown);
  padding: 0.5rem;
  border-right: 2px solid;
  text-align: center;
}

.home-club-hr {
  width: 8rem;
  border: 1px solid var(--brown);
}

.home-club-right {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding: 1rem;
}

.description-img-club {
  height: 16rem;
  object-fit: cover;
  overflow: hidden;
}
